<a href="https://colab.research.google.com/github/Rozmarynka19/kursAI-sb10/blob/main/3_biblioteka_pandas_sb10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np

data = {"Ania": 25, "Jan": 30, "Kasia": 22}
s = pd.Series(data)
print(s)

s2 = pd.Series([18, 16, 17, "20", np.nan], index = ["Kuba", "Ania", "Marek", "Wojtek", "Nieznajomy"])
print(s2)
print(f"Rozmiar serii: {s2.size}")
print(f"Kształt serii: {s2.shape}")
print(f"Typ danych w serii: {s2.dtype}")
print(f"Indexy w serii: {s2.index}")
print(f"Wartości w serii: {s2.values}")
print(f"Wartości w serii: {s2['Marek']}")
print(f"Wartości w serii: {s2.iloc[2]}")

Ania     25
Jan      30
Kasia    22
dtype: int64
Kuba           18
Ania           16
Marek          17
Wojtek         20
Nieznajomy    NaN
dtype: object
Rozmiar serii: 5
Kształt serii: (5,)
Typ danych w serii: object
Indexy w serii: Index(['Kuba', 'Ania', 'Marek', 'Wojtek', 'Nieznajomy'], dtype='object')
Wartości w serii: [18 16 17 '20' nan]
Wartości w serii: 17
Wartości w serii: 17

In [19]:
dane = {
    "cena": [15, 20, 17],
    "ilość": [50, 40, 45]
}
df = pd.DataFrame(dane, index = ["dzień 1", "dzień 2", "dzień 3"])
print(df)
print(df["cena"])
print(df.loc["dzień 2"])
print(df.info())

         cena  ilość
dzień 1    15     50
dzień 2    20     40
dzień 3    17     45
dzień 1    15
dzień 2    20
dzień 3    17
Name: cena, dtype: int64
cena     20
ilość    40
Name: dzień 2, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, dzień 1 to dzień 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cena    3 non-null      int64
 1   ilość   3 non-null      int64
dtypes: int64(2)
memory usage: 180.0+ bytes
None

In [20]:
df = pd.read_excel("Gigathon_Wyniki.xlsx")
print(df)

         Imię  Wiek  Punktacja
0      Łukasz    18       51.0
1   Magdalena    18       52.0
2    Radosław    15       46.0
3      Patryk    15       52.0
4        Anna    14      110.0
5     Dagmara    16        NaN
6      Tomasz    16      112.0
7    Weronika    17      104.0
8     Nikodem    17       97.0
9      Bartek    14        NaN
10      Jakub    16       61.0
11   Gabriela    16       92.0
12     Hubert    15      120.0
13    Zuzanna    13       70.0
14     Oliwia    14       84.0
15      Filip    16      100.0
16    Ewelina    17       98.0
17   Karolina    14       63.0
18     Xawery    17       39.0
19     Cezary    13        NaN
20        Iga    15       77.0
21    Urszula    14      102.0
22        Jan    17      102.0
23     Michał    15        NaN
24  Katarzyna    18       68.0

In [21]:
print(df.head(5))

        Imię  Wiek  Punktacja
0     Łukasz    18       51.0
1  Magdalena    18       52.0
2   Radosław    15       46.0
3     Patryk    15       52.0
4       Anna    14      110.0

In [22]:
print(df.tail(5))

         Imię  Wiek  Punktacja
20        Iga    15       77.0
21    Urszula    14      102.0
22        Jan    17      102.0
23     Michał    15        NaN
24  Katarzyna    18       68.0

In [30]:
df["Wynik procentowy"] = df["Punktacja"]/120*100
print(df)

         Imię  Wiek  Punktacja  Wynik procentowy
12     Hubert    15      120.0        100.000000
6      Tomasz    16      112.0         93.333333
4        Anna    14      110.0         91.666667
7    Weronika    17      104.0         86.666667
22        Jan    17      102.0         85.000000
21    Urszula    14      102.0         85.000000
15      Filip    16      100.0         83.333333
16    Ewelina    17       98.0         81.666667
8     Nikodem    17       97.0         80.833333
11   Gabriela    16       92.0         76.666667
14     Oliwia    14       84.0         70.000000
20        Iga    15       77.0         64.166667
13    Zuzanna    13       70.0         58.333333
24  Katarzyna    18       68.0         56.666667
17   Karolina    14       63.0         52.500000
10      Jakub    16       61.0         50.833333
3      Patryk    15       52.0         43.333333
1   Magdalena    18       52.0         43.333333
0      Łukasz    18       51.0         42.500000
2    Radosław    15       46.0         38.333333
18     Xawery    17       39.0         32.500000

In [27]:
df.dropna(inplace = True)
print(df)

         Imię  Wiek  Punktacja  Wynik procentowy
0      Łukasz    18       51.0         42.500000
1   Magdalena    18       52.0         43.333333
2    Radosław    15       46.0         38.333333
3      Patryk    15       52.0         43.333333
4        Anna    14      110.0         91.666667
6      Tomasz    16      112.0         93.333333
7    Weronika    17      104.0         86.666667
8     Nikodem    17       97.0         80.833333
10      Jakub    16       61.0         50.833333
11   Gabriela    16       92.0         76.666667
12     Hubert    15      120.0        100.000000
13    Zuzanna    13       70.0         58.333333
14     Oliwia    14       84.0         70.000000
15      Filip    16      100.0         83.333333
16    Ewelina    17       98.0         81.666667
17   Karolina    14       63.0         52.500000
18     Xawery    17       39.0         32.500000
20        Iga    15       77.0         64.166667
21    Urszula    14      102.0         85.000000
22        Jan    17      102.0         85.000000
24  Katarzyna    18       68.0         56.666667

In [28]:
df.sort_values(by="Punktacja", ascending=False, inplace=True)
print(df)

         Imię  Wiek  Punktacja  Wynik procentowy
12     Hubert    15      120.0        100.000000
6      Tomasz    16      112.0         93.333333
4        Anna    14      110.0         91.666667
7    Weronika    17      104.0         86.666667
22        Jan    17      102.0         85.000000
21    Urszula    14      102.0         85.000000
15      Filip    16      100.0         83.333333
16    Ewelina    17       98.0         81.666667
8     Nikodem    17       97.0         80.833333
11   Gabriela    16       92.0         76.666667
14     Oliwia    14       84.0         70.000000
20        Iga    15       77.0         64.166667
13    Zuzanna    13       70.0         58.333333
24  Katarzyna    18       68.0         56.666667
17   Karolina    14       63.0         52.500000
10      Jakub    16       61.0         50.833333
3      Patryk    15       52.0         43.333333
1   Magdalena    18       52.0         43.333333
0      Łukasz    18       51.0         42.500000
2    Radosław    15       46.0         38.333333
18     Xawery    17       39.0         32.500000

In [33]:
df["Zakwalifikowany"] = df["Wynik procentowy"] >= 70
print(df)

         Imię  Wiek  Punktacja  Wynik procentowy  Zakwalifikowany
12     Hubert    15      120.0        100.000000             True
6      Tomasz    16      112.0         93.333333             True
4        Anna    14      110.0         91.666667             True
7    Weronika    17      104.0         86.666667             True
22        Jan    17      102.0         85.000000             True
21    Urszula    14      102.0         85.000000             True
15      Filip    16      100.0         83.333333             True
16    Ewelina    17       98.0         81.666667             True
8     Nikodem    17       97.0         80.833333             True
11   Gabriela    16       92.0         76.666667             True
14     Oliwia    14       84.0         70.000000             True
20        Iga    15       77.0         64.166667            False
13    Zuzanna    13       70.0         58.333333            False
24  Katarzyna    18       68.0         56.666667            False
17   Karolina    14       63.0         52.500000            False
10      Jakub    16       61.0         50.833333            False
3      Patryk    15       52.0         43.333333            False
1   Magdalena    18       52.0         43.333333            False
0      Łukasz    18       51.0         42.500000            False
2    Radosław    15       46.0         38.333333            False
18     Xawery    17       39.0         32.500000            False

In [36]:
zestawienie = df.groupby(["Zakwalifikowany", "Wiek"])[["Punktacja", "Wynik procentowy"]]\
.agg(["count", "min", "max", "mean", "median"])
print(zestawienie)

                     Punktacja                                   \
                         count    min    max        mean median
Zakwalifikowany Wiek
False           13           1   70.0   70.0   70.000000   70.0
                14           1   63.0   63.0   63.000000   63.0
                15           3   46.0   77.0   58.333333   52.0
                16           1   61.0   61.0   61.000000   61.0
                17           1   39.0   39.0   39.000000   39.0
                18           3   51.0   68.0   57.000000   52.0
True            14           3   84.0  110.0   98.666667  102.0
                15           1  120.0  120.0  120.000000  120.0
                16           3   92.0  112.0  101.333333  100.0
                17           4   97.0  104.0  100.250000  100.0

                     Wynik procentowy                                      \
                                count         min         max        mean
Zakwalifikowany Wiek
False           13                  1   58.333333   58.333333   58.333333
                14                  1   52.500000   52.500000   52.500000
                15                  3   38.333333   64.166667   48.611111
                16                  1   50.833333   50.833333   50.833333
                17                  1   32.500000   32.500000   32.500000
                18                  3   42.500000   56.666667   47.500000
True            14                  3   70.000000   91.666667   82.222222
                15                  1  100.000000  100.000000  100.000000
                16                  3   76.666667   93.333333   84.444444
                17                  4   80.833333   86.666667   83.541667


                          median
Zakwalifikowany Wiek
False           13     58.333333
                14     52.500000
                15     43.333333
                16     50.833333
                17     32.500000
                18     43.333333
True            14     85.000000
                15    100.000000
                16     83.333333
                17     83.333333

In [40]:
df_zakwalifikowani = df[df["Zakwalifikowany"]]

df_zakwalifikowani.drop("Zakwalifikowany", axis=1, inplace=True)
df_zakwalifikowani.to_excel("zakwalifikowani.xlsx")
print(df_zakwalifikowani)

        Imię  Wiek  Punktacja  Wynik procentowy
12    Hubert    15      120.0        100.000000
6     Tomasz    16      112.0         93.333333
4       Anna    14      110.0         91.666667
7   Weronika    17      104.0         86.666667
22       Jan    17      102.0         85.000000
21   Urszula    14      102.0         85.000000
15     Filip    16      100.0         83.333333
16   Ewelina    17       98.0         81.666667
8    Nikodem    17       97.0         80.833333
11  Gabriela    16       92.0         76.666667
14    Oliwia    14       84.0         70.000000

<ipython-input-40-7ee4944c6f84>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_zakwalifikowani.drop("Zakwalifikowany", axis=1, inplace=True)

In [41]:
df_niezakwalifikowani = df[~df["Zakwalifikowany"]]

df_niezakwalifikowani.drop("Zakwalifikowany", axis=1, inplace=True)
df_niezakwalifikowani.to_excel("niezakwalifikowani.xlsx")
print(df_niezakwalifikowani)

         Imię  Wiek  Punktacja  Wynik procentowy
20        Iga    15       77.0         64.166667
13    Zuzanna    13       70.0         58.333333
24  Katarzyna    18       68.0         56.666667
17   Karolina    14       63.0         52.500000
10      Jakub    16       61.0         50.833333
3      Patryk    15       52.0         43.333333
1   Magdalena    18       52.0         43.333333
0      Łukasz    18       51.0         42.500000
2    Radosław    15       46.0         38.333333
18     Xawery    17       39.0         32.500000

<ipython-input-41-2f64cee15226>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_niezakwalifikowani.drop("Zakwalifikowany", axis=1, inplace=True)